.mapBox{
    font-size: .28rem;
}
.mapShow{ 
    position: relative;
}
.searchSite{
    text-align: center;
    position: fixed;
    z-index: 9;
    margin-top: .26rem;
    margin-left: .38rem;
}
.searchSite input{
    width: 6.45rem;
    height: .82rem;
    border:1px solid #dcdacb;
    border-radius: 6px;
    outline: none;
    padding-left: 1.08rem;
    box-sizing: border-box;
}
.searchSite .searchBtn{
    position: absolute;
    right: .36rem;
    top: .2rem;
    color: #5e5e5e;
}
.searchSite .searchIco{
    position: absolute;
    left: .26rem;
    top: .2rem;
}
.searchSite .searchIco img{
    width: .32rem;
    height: .32rem;
}
.virtualMap{
    width: 100%;
}
.virtualMap img{
    width: 100%;
    height: 9.43rem;
    border: none;
    vertical-align: top;
}
.mapLocation{
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
    margin:.28rem .23rem  0 .19rem;
    padding-bottom: .2rem;
}
.mapLocation .geoLocation{
    padding: 0;    
    float: left;
}
.mapLocation .pullUp{
    width: .42rem;
    height: .42rem;
    border-radius: .21rem;
    float: right;
    background: url('../images/pullUp.png') no-repeat #c7c7c7 center center;
    background-size: .3rem .16rem;
}
.mapPlace {
    padding-left: .19rem;
}
.mapPlace .place{
    width: 100%;
    border:none;
}
.mapPlace .siteDistance{
    line-height: 1;
}
.mapPlace .siteDistance span:nth-of-type(1) img{
    width:.3rem;
    height: .27rem;
}