.siteList{
    
}
.siteTitle{
    position: fixed;
    top:0;
    height: 1rem;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
}
.siteTitle .geoLocation{
    padding:.3rem 0 .36rem .28rem;
    position: relative;
    z-index: 9;
}
 .geoLocation .siteName{
    color: #d51010;
    font-weight: normal;
}
.siteTitle .map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.siteTitle .map img{
    width: 100%;
    height: 100%;
}

.placeList{
    padding: 0 .29rem 0 .21rem;
    font-size: .28rem;
}
.placeList .pullDown{
    text-align: center;
    margin-top: .36rem;
    height: .12rem;
}
.placeList .pullDown img{
    width:.22rem;
    height: .12rem;
    vertical-align: top;
}
.place{
    padding-top: .38rem;
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: .37rem;
}
.placeName p{
    float: left;
}
.fullName .siteDistance{
    float: right;
}
.placeTitle span:nth-of-type(1) img{
    width:.34rem;
    height: .19rem;
}
.placeTitle span:nth-of-type(2){
    color: #333333;
    padding-left: .2rem;
} 
.placeName .fullName{
    font-size: .24rem;
    color: #999999;
    padding-top: .19rem;
    line-height: .36rem;
}
.placeName .fullName p{
    width: 4.5rem;
}
.fullName .siteDistance{
    height: .56rem;
    border-left:1px solid #d8d8d8;
    padding-left: .48rem;
    padding-right: .4rem;
    text-align: center;
}
.siteDistance span{
    display: block;
}
.siteDistance span{

}
